* {
    margin: 0;
    box-sizing: border-box;
}

.image-parts {
    overflow: hidden ;
    height: 100px;
    width: 100px;
    position: absolute;
}

.image-parts {

    filter: drop-shadow(100px 0 rgb(255,255,0));
    transform: translateY(-100px);
}

#background-img {
    position: fixed;
    height: 100vh;
    width: 100vw;

}

.frame {
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    max-height: 300px;
    max-width: 300px;
    border: 3px solid #5d2e14;
    overflow: hidden;
    box-shadow: 0 0 100px #ffbc37;
}

#container {
    display: flex;
}



::-webkit-scrollbar {
    display: none;
}

#header {
    position: fixed;
    background-color: #0c0808;
    min-width: 100vw;
    min-height: 50px;
    z-index: 100;
    color: ghostwhite;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Fira Code Retina";
}
